:root{
    --school_color: rgb(255, 174, 0);
    --footer_color: rgb(102, 102, 101);
}

body{
    margin: 0px;
    padding: 0px;
    background-color:antiquewhite;
    height: 200vh;
}
header{
    background-color: rgb(255, 179, 1);
    color: aliceblue;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 5rem 0rem 1rem;
}
header img{
    width: 20rem;
}
header nav ul{
    list-style: none;
    display: flex;
    gap: 2rem;

    font-size: 1.5rem;
    font-weight: bold;
}
header nav ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.landing{
    height: 70vh;
    /* width: 100vw; */
    text-align: center;

    background-image: url("assets/landing_page_background_photo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.landing h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0px;

    color: var(--school_color);
    font-size: 5rem;
    text-shadow: 3px 3px 2px black;
}

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 25vh;
    background-color: var(--footer_color);
    color: aliceblue;
    list-style: none;
}


@media only screen and (max-width: 768px) {
    .landing{
        height: 50vh;
        background-size: 50rem;
        background-position: top;
    }

    .landing h1{
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 480px) {
    .landing{
        height: 30vh;
        background-size: 40rem;
        background-position: top;
    }

    .landing h1{
        font-size: 2rem;
    }
}