body{
    margin: 0px;
    padding: 0px;
    background-color:antiquewhite;
}
header{
    background-color: rgb(255, 179, 1);
    color: aliceblue;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 5rem 0rem 1rem;
}
header img{
    width: 20rem;
}
header nav ul{
    list-style: none;
    display: flex;
    gap: 2rem;

    font-size: 1.5rem;
    font-weight: bold;
}
header nav ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

@media only screen and (max-width: 760px) {
    
}

@media screen and (max-width: 480px) {
    
}