body{
    margin: 0px;
    padding: 0px;
    background-color:antiquewhite;
    height: 200vh;
}
header{
    background-color: rgb(255, 179, 1);
    color: aliceblue;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem 0 1rem;
}
header img{
    width: 20rem;
}
header nav ul{
    list-style: none;
    display: flex;
    gap: 2rem;

    font-size: 1.5rem;
    font-weight: bold;
}
header nav ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.landing{
    height: 70vh;
    /* width: 100vw; */
    text-align: center;

    background-image: url("assets/landing_page_background_photo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.landing h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0px;

    color: rgb(255, 174, 0);
    font-size: 5rem;
    text-shadow: 3px 3px 2px black;
}
.info, .events-section{
    display: flex;
    align-items: center;
    width: 100%;
    height: 60vh;
    background-color: rgb(255, 179, 1);
}
.event-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 60vh;
    background-color: rgb(255, 179, 1);
}
.blocks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.block1, .block2, .block3{
    background-color: white;
    width: 30%;
    height: 20vh;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.events, .events-section{
    text-align: center;
    background-color: white;

}
.events h2{
    font-size: 3rem;
}
.school-image img{
    width: 35rem;
    clip-path: circle(50% at 25% 50%);  
}
.robotics img{
    width: 30rem;
    clip-path: circle(50% at 60% 50%); 
}
.description{
    max-height: 100%;
    padding-right: 3rem ;
    text-align: justify;
}
.description1{
    padding: 2rem ;
    text-align: justify;
}
.events-section .description{
    text-align: center;
}
.description h2{
    font-size: 2rem;
}
.description p{
    font-size: 1rem;
}
.description ul{
    font-size: 1em;
}

@media only screen and (max-width: 768px) {
    .landing{
        height: 50vh;
        background-size: 50rem;
        background-position: top;
    }

    .landing h1{
        font-size: 2.5rem;
    }
    header{
        padding: 0 2rem 0 1rem;
    }
    header nav ul{
        gap: 1rem;
    
        font-size: 1rem;
        font-weight: bold;
    }
    header img{
        width: 15rem;
    }
    .school-image img{
        width: 20rem;
        clip-path: circle(50% at 25% 50%);  
    }
    .robotics img{
        width: 20rem;
        clip-path: circle(50% at 60% 50%);
    }
    .description{
        height: 100%;
        max-height: 100%;
        padding-right: 2rem ;
        text-align: justify;
    }
    .description h2{
        font-size: 2em;
    }
    .description p{
        font-size: 1em;
    }
    .description ul{
        font-size: 1em;
    }
}

@media screen and (max-width: 480px) {
    .landing{
        height: 30vh;
        background-size: 40rem;
        background-position: top;
    }

    .landing h1{
        font-size: 2rem;
    }
    header{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0;
    }
    header nav::before{
        content: " ";
        width: 100%;
        height: 2px;
        background-color: white;
        display: flex;
    }
    header nav ul{
        padding-left: 0;
    }
    .info, .events-section{
        height: 65vh;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .school-image img, .robotics img{
        width: 15rem;
        clip-path: circle(70% at 50% 50%);  
        padding-top: 1rem;
    }
    .description{
        max-height: 100%;
        padding-right: 3rem ;
        text-align: center;
        padding: 0 1rem;
    }
    .description h2{
        font-size: 2rem;
    }
    .description p{
        font-size: 1rem;
    }
    .description ul{
        font-size: 1em;
    }
    .info, .events-section, .event-info{
        height: 75vh;
    }
}